$body-bg: #e4e4e4;

$primary: #8e44ad;

.vh-container-100 {
  height: calc(100vh - 60px);
}

.underline-none {
  text-decoration: none;
}

.attribute-text * {
  font-size: 10px;
}

.dropdown-toggle::after {
  content: none !important;
}

@import "~bootstrap/scss/bootstrap";
